.ui-buttonbar {
  padding: 4px 16px;
}
.ui-buttonbar .ui-button-wrapper {
  margin: 0px;
  margin-right: 4px;
}
.ui-buttonbar.button-align-left {
  text-align: left;
}
.ui-buttonbar.button-align-right {
  text-align: right;
}
.ui-buttonbar.button-align-center {
  text-align: center;
}

